@use "globals" as g;
@use "util" as u;
@use "layout";

.register__parent {
  width: 100%;
  background-color: g.$desaturated-blue;
}

.register {
  color: #fff;
  flex-direction: column;
  padding: 2rem;

  @include u.breakpoint(tab) {
    grid-template-columns: 2fr 1fr;
  }
}
