@use "../globals/" as g;
@use "../util/" as u;

.f-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.wid {
  width: min(350px, 90%);
  margin-inline: auto;

  @include u.breakpoint(tab) {
    width: min(1240px, 90%);
  }
}
.a-center {
  align-items: center;
}

.gap-1 {
  gap: u.em(16);
}
.gap-2 {
  gap: u.em(32);
}
.gap-3 {
  gap: u.em(48);
}
.gap-4 {
  gap: u.em(64);
}
