@use "../globals/" as g;
@use "../util/" as u;

.center {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: g.$raleway;
}

h1,
.h1 {
  font-size: calc(22px + 1vw);
  margin-bottom: u.em(16);
}

h2,
h3 {
  margin-bottom: u.em(7);
}

h2,
.h2 {
  font-size: calc(18px + 0.8vw);
}

h3,
.h3 {
  font-size: 20px;
  font-size: calc(22px + 0.8vw);
}

p {
  line-height: 1.5;
  font-size: calc(14px + 0.2vw);
}
